/* .Ball {
  background-color: tomato;
  border-radius: 50%;
  color: white;
  display: inline-block;
  width: 3em;
  height: 2.25em;
  padding-top: 0.75em;
  text-align: center;
  margin-right: 0.5em;
  font-weight: bold;
  font-size: 1.5em; 
} */

.grid-item {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 1px;
  /* margin: 1px; */
  font-size: 3px;
  text-align: center;
}

.List {
  list-style-type: none;
}

.numbers15 {
  font-size: 18px;
}

.numbers15Hit {
  font-size: 18px;
  background-color: rgb(133, 177, 133);
}

.numbers10 {
  font-size: 18px;
}

.numbers10Hit {
  font-size: 18px;
  background-color: rgb(133, 177, 133);
}
.numbers10BigHit {
  font-size: 18px;
  background-color: rgb(203, 57, 193);
}

.numbers5 {
  font-size: 18px;
}

.numbers5Hit {
  font-size: 18px;
  background-color: rgb(133, 177, 133);
}
.numbers5BigHit {
  font-size: 18px;
  background-color: rgb(203, 57, 193);
}

.numbers2 {
  font-size: 18px;
}

.numbers2Hit {
  font-size: 18px;
  background-color: rgb(133, 177, 133);
}
.numbers2BigHit {
  font-size: 18px;
  background-color: rgb(203, 57, 193);
}

.numbersPost {
  font-size: 18px;
}

.numbersPostHit {
  font-size: 18px;
  background-color: rgb(133, 177, 133);
}
.numbersPostBigHit {
  font-size: 18px;
  background-color: rgb(203, 57, 193);
}
.perChange {
  font-size: 18px;
}
.perChangeHit {
  font-size: 18px;
  background-color: rgb(244, 155, 22);
}
